<!DOCTYPE HTML>
<html>
	<head>
		<title>Alpha Messenger</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
	</head>
	<body class="landing is-preload">
		<div id="page-wrapper">

				<section id="banner">
					<h2>Alpha</h2>
					<p>Messenger and File sharing app</p>
					<form method="post">
						<ul class="actions special">
							<li><button type="submit" name="send_button" class="button primary">Send</a></li>
							<li><button type="submit" name="receive_button" class="button primary">Receive</a></li>
						</ul>
					</form>
				</section>

			<!-- Main -->
				<section id="main" class="container">

					<section class="box special">
						<header class="major">
							<h2>Introducing the ultimate messenger and file sharing app</h2>
							<p>Any type of message and file can be shared quickly and securely using socket programming.</p>
						</header>
						<span class="image featured"><img src="{{ url_for('static', filename='images/pic01.jpg') }}" alt="" /></span>
					</section>
				</section>

				<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/jquery.dropotron.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

	</body>
</html>